body {
    width: 6a0%;
    padding-left:  300px;
    padding-top:  50px;
    counter-reset: sidenote-counter; 
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    color: #333;
    text-align: justify;
    text-justify: inter-word;
    width: 800px;
}
ul { 
    width: 800px;
}
ol { 
    width: 800px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 3;
    width: 800px;
}
ul.index { 
    width: 570px;
    font-size: 4;
}
ul.posts { 
    width: 800px;
    font-size: 4;
}
h2.posts { 
    width: 800px;
}
ul.posts li {
    list-style: none;
}

code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit; color: inherit}

.center {
    display: block;
    margin-left: 250px;
    margin-right: auto;
    width: 800px;
}
.comments {
    width: 800px;
    padding-top:  50px;
	}

.sidenote, .marginnote { float: right;
                         clear: right;
                         margin-right: -60%;
                         width: 50%;
                         margin-top: 0;
                         margin-bottom: 1.96rem;
                         font-size: 1.0rem;
                         line-height: 1.96; //changed to bring line heights into rational pattern
                         vertical-align: baseline;
                         position: relative; }

li .sidenote, li .marginnote{ margin-right: -80%; } //added to allow for the fact that lists are indented and marginnotes and sidenotes push to right

blockquote .sidenote, blockquote .marginnote { margin-right: -79% }

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before { content: counter(sidenote-counter) " ";
                                           font-family: et-bembo-roman-old-style;
                                           color: $contrast-color; //added color
                                           position: relative;
                                           vertical-align: baseline; }

.sidenote-number:after { content: counter(sidenote-counter);
                         font-size: 1rem;
                         top: -0.5rem;
                         left: 0.1rem; }

.sidenote:before { content: counter(sidenote-counter) ".\000a0"; // this is unicode for a non-breaking space
                   color: $contrast-color;
                   top: 0rem; } //removed superscripting for numerical reference in sidenote

.marginnote code, .sidenote code { font-size: 1rem; } //more .code class removal

.full-width { .sidenote, .sidenote-number, .marginnote { display: none; } }


@media (max-width: 760px) { label.margin-toggle:not(.sidenote-number) { display: inline; color: $contrast-color; }
                            .sidenote, .marginnote { display: none; }
                            .margin-toggle:checked + .sidenote,
                            .margin-toggle:checked + .marginnote { display: block;
                                                                   float: left;
                                                                   left: 1rem;
                                                                   clear: both;
                                                                   width: 95%;
                                                                   margin: 1rem 2.5%;
                                                                   vertical-align: baseline;
                                                                   position: relative; }
                            label { cursor: pointer; }
                            pre, pre code, p code, p pre code { width: 90%;
                                       padding: 0; }
                            .table-caption { display: block;
                                             float: right;
                                             clear: both;
                                             width: 98%;
                                             margin-top: 1rem;
                                             margin-bottom: 0.5rem;
                                             margin-left: 1%;
                                             margin-right: 1%;
                                             vertical-align: baseline;
                                             position: relative; }
                            div.table-wrapper, table, table.booktabs { width: 85%; }
                            div.table-wrapper { border-right: 1px solid #efefef; }
                            img { max-width: 100%; } }










