body {
    width: 6a0%;
    padding-left:  300px;
    padding-top:  50px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    color: #333;
    text-align: justify;
    text-justify: inter-word;
    width: 800px;
}
ul { 
    width: 1000px;
}
ol { 
    width: 800px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 3;
    width: 850px;
}
ul.index { 
    width: 570px;
    font-size: 4;
}
ul.posts { 
    width: 800px;
    font-size: 4;
}
h2.posts { 
    width: 800px;
}
ul.posts li {
    list-style: none;
}

code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit; color: inherit}

.center {
    display: block;
    margin-left: 250px;
    margin-right: auto;
    width: 800px;
}
.comments {
    width: 800px;
    padding-top:  50px;
	}










