<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		        {% if page.use_math %}
		         {% include mathjax_support %}
		        {% endif %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><font size="7">Nick Lutsko</font></li>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research and Publications</a></li>
		        	<li><a href="/code">Code</a></li>
	        		<li><a href="/notes">Notes</a></li>
	        		<li><a href="/links">Links</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lutsko@mit.edu">email</a></li>
	        		<li><a href="https://scholar.google.com/citations?user=8CTaCtAH-kMC&hl=en">google scholar</a></li>
	        		<li><a href="/CV.pdf">CV</a></li>
				</ul>
			</footer>
		</body>
	</html>
